// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #000;

// Primary/body text
$mainFont: 'RobotoDraft', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$codeFont: Menlo, monospace;
$mainFontSize: 36px;
$darkColor: #000;
$transparentBlack: rgba(0, 0, 0, 0.85);
$mainColor: #212121;
$headingColor: #3f51b5;
$secondaryColor: #999;
$tertiaryColor: #ccc;
$mutedColor: #999;
$white: #fff;
$alertColor: #ff0000;

// Headings
$headingMargin: 0 0 20px 0;
$headingFont: $mainFont, sans-serif; //'Aleo Bold', Impact, sans-serif;
$headingLineHeight: 1em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: none;
$headingTextShadow: 2px 2px 6px #000;
$paragraphTextShadow: 1px 3px 3px #000;
$paragraphFontSize: 1.5em;
$paragraphLineHeight: 1.25em;

// Links and actions
$linkColor: #0277bb;
$linkColorHover: #01476f;
$altLinkColor: #55491F;
$buttonColor: #4285f4;
$buttonTextColor: $white;
$controlsColor: $headingColor;
$controlsColorHover: $headingColor;

$separatorColor: transparentize(#000000, 0.88);
$separatorHeight: 5px;

// Text selection
$selectionBackgroundColor: #97948f;
$selectionColor: $white;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
