// Base theme template for reveal.js

/*********************************************
 * AccessibilityHelper Plugin
 *********************************************/

/* Include in your HTML file along with accessibility-helper.js
  or copy contents to your theme css */

/*********************************************
 * AccessibilityHelper Plugin
 *
 * MIT licensed
 *
 * 2014 Marcy Sutton, http://marcysutton.com
 *********************************************/
.reveal {
  .slides {
    &>section {
      &>.accessibilityWrapper,
      &>section>.accessibilityWrapper {
        display: none;
        visibility: hidden;
      }
      &.present > .accessibilityWrapper {
        display: block;
        visibility: visible;
        outline: none;
      }
      &> .accessibilityWrapper {
        outline: none;
      }
    }
    &.staticPage > section {
      display: block !important;
    }
  }

  #global-skip-link {
    display: block;
    font-size: 0.6em;
    left: -50000px;
    padding: 5px 10px;
    position: fixed;
    white-space: nowrap;
    text-shadow: $paragraphTextShadow;
  }
  ul#table-of-contents {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        font-size: 0.6em;
        left: -50000px;
        padding: 5px 10px;
        position: absolute;
        white-space: nowrap;
      }
    }
  }
  .letter-icon {
    // display: inline-block;
    font-size: 150%;
    // vertical-align: middle;
  }
}
.strike {
  text-decoration: line-through;
}
.offscreen {
  display: block;
  left: -50000px;
  position: absolute;
}
.hidden {
  display: none;
}
.clear-after {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: black url("backgrounds/space.jpg") repeat center top;
}

.reveal {
  background-color: rgba(0, 0, 0, 0.65);
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: 200;
	color: $mainColor;

  pre {
    background-color: black;

    code {
      background-color: black;
      color: $tertiaryColor;
      font-size: 1.45em;
      line-height: 1.45em;
      max-height: 500px;
    }
  }
  .full-screen-code {
    pre {
      width: 100%;
      code {
        max-height: 100%;
      }
    }
  }
  .text-background {
    padding: 1em 0;
  }
  .has-background {
    pre, code {
      background-color: transparent;
    }
    .text-background {
      background-color: rgba(0,0,0,0.75);
    }
  }
  footer {
    bottom: 0px;
    left: 0;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 45%;
    line-height: 1.25em;
    position: fixed;
    padding-bottom: 0.25em;
    text-align: left;
    width: 100%;
    z-index: 11;

    .copyright {
      display: inline-block;
      color: $tertiaryColor;
      padding: 5px 15px;
      vertical-align: middle;
    }
    .footer-link {
      display: block;
      float: right;
      padding: 5px 15px;
      position: relative;
      z-index: 1;
    }
    [aria-hidden=true] {
      color: $secondaryColor;
      margin: 0 4px;
    }
  }
}
::selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

.offscreen {
  display: block;
  left: -500000px;
  position: absolute;
}
.clear {
  clear: both;
  display: block;
}
/*********************************************
 * HEADERS
 *********************************************/
.reveal {
  h1, h2, h3, h4, h5, h6 {
    color: $headingColor;
  	font-family: $headingFont;
  	line-height: $headingLineHeight;
  	letter-spacing: $headingLetterSpacing;
    margin: $headingMargin;
  	text-transform: $headingTextTransform;
  	text-shadow: $headingTextShadow;
  }
  p, small, ul, ol, div.large-tag, figcaption, blockquote, dd, dt {
    text-shadow: $paragraphTextShadow;
  }
  h1, h2.h1-style, h3.h1-style {
    font-size: 3.25em;
  }
  h2,
  h1.h2-style,
  h3.h2-style,
  p.h2-style {
    font-size: 2.5em;
  }
  h3,
  h2.h3-style,
  p.h3-style {
    font-size: 1.75em;
  }
  h4, h3.h4-style,
  p.h4-style {
    font-size: 1.45em;
    font-weight: bold;
  }
  h2 strong,
  h3 strong {
    color: $linkColor;
  }
  .larger {
    font-size: 120%;
  }
  .smaller {
    font-size: 70%;
  }
  small {
    font-size: 0.85em;
    letter-spacing: 0;
    text-transform: none;
  }
  em {
    font-family: $italicFont;
    font-style: normal;
  }
  blockquote {
    background-color: transparent;
    font-style: italic;
    line-height: 100%;
    font-size: 2em;
    text-align: left;

    &.large {
      font-size: 3em;
      margin-bottom: 0.75em;
    }
    span {
      display: block;
      font-size: 75%;
      text-align: right;
    }
    strong {
      // color: $linkColor;
      font-weight: normal;
      font-size: 115%;
    }
  }
  .left-align strong {
    display: inline-block;
    min-width: 0.75em;
    text-align: center;
  }
  .top-negative-header {
    position: absolute; 
    top: -2em; 
    width: 100%;
  }
  section {
    dl {
      font-size: 0.85em;
      max-height: 17em;
      margin: 0.5em auto 0;
      overflow: auto;
      text-align: left;
      width: 78%;

      dt {
        clear: both;
        float: left;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
        text-align: right;
        width: 20%;
        word-wrap: break-word;
      }
      dd {
        clear: both;
        display: inline-block;
        padding-bottom: 1.5em;
        width: 74%;
      }
    }
    figure {
      margin: 0;
      padding: 0;
      position: relative;

      img {
        margin: 0;
      }
      .note {
        background-color: $darkColor;
        color: $white;
        font-style: italic;
        padding: 3px 5px;
        position: absolute;
      }
      figcaption {
        color: $tertiaryColor;
        font-size: 0.65em;
        line-height: 1em;
        margin: 0;
        padding: 0.2em 0 0.75em;
        text-align: center;
      }
    }
  }
  .left-align {
    text-align: left;

    p {
      margin-bottom: 0.75em;
    }
  }
  .big-italic {
    font-family: $italicFont;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.25em;
    text-transform: none;

    &.smaller {
      font-size: 1.5em;
    }
    &.smallest {
      font-size: 1.15em;
    }
  }
  .big-stat {
    @extend .big-italic;
    display: block;
    font-size: 300%;
  }
  .large-tag {
    font-family: $codeFont;
    font-size: 2.5em;
    margin-top: 0.5em;
  }
  .muted {
    color: $mutedColor;
  }
  ul {
    font-size: $paragraphFontSize;
    line-height: $paragraphLineHeight;
    list-style: none;
    margin: 0.5em 0;
    text-align: center;

    li {
      margin-bottom: 0.25em;
    }
    &.left-aligned {
      list-style: disc;
      text-align: left;
    }
    &.checkboxes {
      li {
        list-style: none;
        line-height: 1.25em;
        margin-bottom: 0.5em;
        text-indent: -1.5em;

        &:before {
          content: '\2610';
          font-size: 1.5em;
          margin-right: 0.25em;
        }
        &.checked:before {
          content: '\2611';
        }
      }
    }
    &.spaced-list li {
      margin-bottom: 0.5em;
      margin-top: 0.75em;
    }
    &.normal-list li {
      letter-spacing: 0;
      margin-bottom: 0.25em;
    }
    &.smaller li {
      font-size: 0.9em;
      letter-spacing: 0;
      line-height: 1.5em;
      margin: 0;
    }
    &.smallest li {
      font-size: 0.75em;
      letter-spacing: 0;
    }
  }
}
/*********************************************
 * LINKS
 *********************************************/

.reveal {
  a:not(.image), .highlight {
  	color: $linkColor;
  	text-decoration: none;

  	-webkit-transition: color .5s;
  	   -moz-transition: color .5s;
  	    -ms-transition: color .5s;
  	     -o-transition: color .5s;
  	        transition: color .5s;
  }
	a:not(.image):hover {
		color: $linkColorHover;
	}

  .roll span:after {
  	color: $white;
  	background: darken( $linkColor, 15% );
  }
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal {
  section img {
  	margin: 15px 0px;
  	background: rgba(255,255,255,0.12);
  	border: 4px solid $mainColor;

  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  	-webkit-transition: all .2s linear;
  	   -moz-transition: all .2s linear;
  	    -ms-transition: all .2s linear;
  	     -o-transition: all .2s linear;
  	        transition: all .2s linear;

    &.plain {
      background-color: transparent;
      border-width: 0;
      box-shadow: none;

      &:hover, &:focus {
        background-color: rgba(207, 241, 16, 0.5);
      }
    }
  }
  img.freezeframe_done {
    border-width: 0;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }

	a:hover, a:focus {
    outline: none;

    img {
  		background: rgba(255,255,255,0.2);
  		border-color: $linkColor;

  		box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    }
	}
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  bottom: 30px;
}
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
	border-right-color: $linkColor;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
	border-left-color: $linkColor;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
	border-bottom-color: $linkColor;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: $linkColor;
}

.reveal .controls div.navigate-left.enabled:hover {
	border-right-color: $linkColorHover;
}

.reveal .controls div.navigate-right.enabled:hover {
	border-left-color: $linkColorHover;
}

.reveal .controls div.navigate-up.enabled:hover {
	border-bottom-color: $linkColorHover;
}

.reveal .controls div.navigate-down.enabled:hover {
	border-top-color: $linkColorHover;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: $linkColor;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

/*********************************************
 * LAYOUTS
 *********************************************/
.reveal .align-right {
  margin-bottom: 1em;
  text-align: right;
 }
.reveal .align-left {
  margin-bottom: 1em;
  text-align: left;
 }
.reveal li .twoThirdsCol {
  padding-top: 2%;

  small {
    clear: both;
    display: block;
    text-align: center;
  }
}
.reveal .wideCol {
  vertical-align: top;
  width: 58%;

  &.twoThirdsCol {
    float: left;
  }
}
.reveal .skinnyCol {
  vertical-align: top;
  width: 40%;

  &.twoThirdsCol {
    float: left;
    margin-right: 2%;
  }
}
.reveal .twoThirdsCol,
.reveal .halfCol {
   pre {
    font-size: .50em;
    margin-top: 0;
    width: 100%;
  }
}
.reveal .halfCol {
  display: inline-block;
  vertical-align: top;
  width: 48%;

  &.left {
    margin-right: 2%;
  }
}
/*********************************************
 * Slide Styles
 *********************************************/
.reveal {
  .definition {
    font-size: 0.85em;
    margin: 1em auto 0;
    padding-bottom: 1em;  
  }
  $separator_width: 3px;
  .separator {
    background-color: $linkColor;
    box-shadow: 1px 1px 1px #000;
    height: $separator_width;
    line-height: $separator_width;
    margin: 1em auto 0;
  }
  .inset-width {
    margin: 1em auto 0;
    position: relative;
    width: 70%;
  }
  .inset-width-smaller {
    margin: 1em auto 0;
    width: 55%;
  }
  .left-align {
    text-align: left;
  }
  .notes {
    p {
      color: $tertiaryColor;
      font-size: 2em;
      position: absolute;
    }
  }
  .drop-caps {
    text-align: left;

    li {
      &:first-letter {
        font-size: 130%;
        display: inline-block;
        margin-right: 0.05em;
      }
    }
  }
  .interactive-input span[contenteditable] {
    border-bottom: 4px solid currentColor;
    display: inline-block;
    line-height: 1.25;
    margin-top: 0.25em;
    min-width: 4.5em;
    outline: none;
    text-align: left
  }
  .hamburger-button {
    background-color: transparent;
    border: 6px solid transparent;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-top: 61%;
    position: relative;
    width: 120px;
    text-shadow: $paragraphTextShadow;
    transition: border-color 0.25s;
    
    &:before {
      background: transparent url(../../img/hamburger.svg) no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      bottom: 0.5em;
      left: 0.5em;
      position: absolute;
      right: 0.5em;
      top: 0.5em;
    }
    &:focus, &:hover {
      border: 6px solid $linkColor;
    }
  }
  .hamburger-menu {
    display: inline-block;
    padding: 0.5em 2em;
    max-height: 3em;
    overflow: hidden;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    
    &.active {
      max-height: 500px;
    }
    li a {
      -webkit-transition: all .5s;
         -moz-transition: all .5s;
          -ms-transition: all .5s;
           -o-transition: all .5s;
              transition: all .5s;

      &:hover, &:focus {
        color: $linkColorHover;
        border-bottom: 1px solid $linkColorHover;
      }
    }
  }
  #hamburgerTextDiv {
    position: relative;
    z-index: 1;

    h2 {
      display: inline-block;
      padding: 0 0.25em;
    }

    &.initialized {
      h2 {
        color: $backgroundColor;
        text-shadow: none;
      }
    }
  }
  #hamburgerImgDiv {
    background-repeat: repeat;
    background-position: left center;
    background-size: contain;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .themed-button {
    background-color: $linkColor;
    border-radius: 10px;
    border-width: 0;
    color: $backgroundColor;
    cursor: pointer;
    display: inline-block;
    font-family: $mainFont;
    font-size: 1em;
    padding: 0.25em 0.5em;
    margin: 1em;
    
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &:hover, &:focus {
      background-color: $backgroundColor;
      color: $white;
    }
  }
  button.reset {
    @extend .themed-button;
    background-color: $white;
    color: $backgroundColor;
    display: inline-block;
    font-size: 0.65em;
    margin-top: 0;

    &:hover, &:focus {
      background-color: $backgroundColor;
      color: $white;
    }
    &.disabled {
      display: none;
    }
  }
  .inline-icon-block {
    .text {
      display:inline-block; 
      vertical-align:middle;
    }
    .icon {
      display:inline-block;
      margin-left: 10px;  
      vertical-align:middle;
    }
  }
  .play button:before {
    background: transparent;
    border: 58px solid transparent;
    border-width: 58px 78px;
    border-left-color: rgba(255, 255, 255, 0.7);
    content: "";
    display: block;
    margin-top: -8px;
    position: absolute;
    top: 40%;
    left: 50%;
    transition: 0.5s;
  }
  .play button:hover:before,
  .play button:focus:before,
  .play button:active:before {
    background: transparent;
    border-left-color: rgba(255, 255, 255, 1);
  }
  .sparkle-party {
    @extend .play;
    min-height: 720px;
    position: relative;

    .enabled button {
      display: none;
    }
    button {
      background: black url(../../img/sparkle-party.jpg) no-repeat; 
      background-size: cover;
      border: 0;
      border-radius: none;
      box-shadow: 2px 2px 2px #000;
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 1; 
    }
    object {
      height: 100%;
      min-height: 720px;
      width: 100%;
    }
  }
  p.byline {
    font-size: 1.25em;
    margin-bottom: 4%;
    a {
      color: $white;
    }
  }
  a.substantial-logo {
    color: $linkColor;
    font-size: 0.85em;
    font-family: 'substantial-ico-fonts';
    letter-spacing: 0.3em;
    margin-left: 2%;
    position: relative;
    text-shadow: none;

    &:hover, &:focus {
      color: $white;
      text-decoration: none;
    }
  }
  .image-headline {
    border: 4px solid $mainColor;
    margin-bottom: 10px;

    &#lemur {
      background: transparent url(../../img/lemur.jpg) no-repeat center top;
      background-size: 100% auto;
      max-width: 600px;
      margin: 0.5em auto 0;
      padding-top: 35%;
      position: relative;

      h2, h3 {
        color: #000;
        font-size: 2.5em;
        text-shadow: 2px 2px 3px #fff;
      }
    }
    h2, h3 {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}
