<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Google Accessibility</title>

		<meta name="description" content="Google Accessibility">
		<meta name="author" content="Marcy Sutton">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="/css/theme/material.css">
		<link rel="stylesheet" href="css/theme/marcysutton.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<script src="lib/js/jquery-1.11.1.min.js"></script>

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<h1 class="offscreen">Google Accessibility by Marcy Sutton</h1>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>Hello</h2>
					<img src="img/human-robot-communication.jpg" title="Human-to-robot communication at the CSUN 2014 Conference" alt="Human-to-robot communication at the CSUN 2014 Conference">
				</section>

				<section>
					<h2 class="h1-style" style="margin-bottom: 0.25em;">What is Accessibility?</h2>
					<p class="big-italic">Everyone can perceive, understand, navigate, and interact with the Web, and  they can contribute to the Web.</p>
					<aside class="notes">
					<p><a href="http://www.w3.org/WAI/intro/accessibility.php" target="_blank" title="Link opens in a new window">W3C definition</a></p>
					<p>Millions of people have disabilities that affect their use of the Web.</p>
					<p>Web accessibility also benefits people without disabilities.</p>
					<p>Refer to slide #2 about the kinds of apps we build.</p>
					</aside>
				</section>

				<section>
					<h2><span class="big-stat">A billion</span> people with disabilities</h2>
					<aside class="notes">
						Source: <a href="http://www.who.int/mediacentre/factsheets/fs352/en/">World Health Organization</a>
					</aside>
				</section>

				<section>
					<h2><span class="big-stat">15%</span> of the population</h2>
					<aside class="notes">
						Source: <a href="http://www.who.int/mediacentre/factsheets/fs352/en/">World Health Organization</a>
					</aside>
				</section>

				<section>
					<h2>Accessibility is about</h2>
					<h3 class="h1-style" style="font-size: 14rem;">PEOPLE.</h3>
				</section>

				<section>
					<h2 class="h1-style">Google Accessibility</h2>
					<p>
						<small>Created by <a href="http://marcysutton.com">Marcy Sutton</a> / <a href="http://twitter.com/marcysutton">@marcysutton</a></small>
					</p>
				</section>

				<section>
					<div id="wordCloud" style="min-width: 1024px; width: 1440px; min-height: 600px; height: 601px;" class="jqcloud">
			    	<span class="w7" style="position: absolute; left: 340px; top: 0;">Web apps</span>
			    	<span class="w4" style="position: absolute; left: 50px; top: 100px;">Glass</span>
			    	<span class="w6" style="position: absolute; left: 580px; top: 180px;">Home<br>media</span>
			    	<span class="w4" style="position: absolute; left: 0; top: 250px;">Appliances</span>
			    	<span class="w4" style="position: absolute; left: 1026px; top: 220px;">Fitness Tracking</span>
			    	<span class="w3" style="position: absolute; left: 1020px; top: 100px;">Time travel</span>
			    	<span class="w7" style="position: absolute; left: 0px; top: 430px;">Mobile OS</span>
			    	<span class="w5" style="position: absolute; right: 0px; top: 490px;">Environmental</span>
			    </div>
				</section>

				<section>
					<h2 class="h1-style">But...</h2>
					<ul>
						<li>How do we get the message out?</li>
					</ul>
				</section>

				<section>
					<h2>Messaging A11Y</h2>
					<ul>
						<li class="fragment">The legal way</li>
						<li class="fragment">The eat your vegetables way</li>
						<li class="fragment">The fun way</li>
					</ul>
				</section>

				<section>
					<h2>Tacos</h2>
					<img src="img/jsconf-tacos.png" alt="Marcy Sutton presenting a taco button at JSConf">
				</section>

				<section>
					<h2>My objectives</h2>
					<ul>
						<li>Research</li>
						<li>Listening</li>
						<li>Experimentation</li>
						<li>Leading by example</li>
					</ul>
				</section>
				
				<section>
					<h2>Research</h2>
					<ul>
						<li><a href="http://substantial.com/blog/2014/02/05/accessibility-and-the-shadow-dom/" target="_blank" title="Link opens in a new window">Shadow DOM</a></li>
						<li><a href="https://www.youtube.com/watch?v=BgvDZZ8Ms8c&index=21&list=PL37ZVnwpeshFXOP2lqCUykYPXYNsK_fgN" target="_blank" title="Link opens in a new window">Web Components</a></li>
						<li><a href="https://www.youtube.com/watch?v=ZPsb-RR8SC0" target="_blank" title="Link opens in a new window">Client-rendered apps</a></li>
						<li>?</li>
					</ul>
				</section>

				<section>
					<h2>Shadow DOM</h2>
					<img src="img/shadow-dom.png" alt="Browser's rendering tree: Shadow DOM spec">
				</section>

				<section>
					<img src="img/happy-little-tree.jpg" alt="Bob Ross happy little tree" style="min-height: 480px;">
				</section>

				<section>
				<div class="full-screen-code">
				<pre><code class="html" style="max-height: 100%;">
  &lt;sparkle-party&gt;
   &lt;h2&gt;Do you like to dance?&lt;/h2&gt;
   &lt;material-button id="lets-dance"&gt;
     I wore my party pants
   &lt;/material-button&gt;

    &lt;disco-ball&gt;
      &lt;canvas&gt;&lt;/canvas&gt;
      &lt;live-region id="disco-transcript"&gt;&lt;/live-region&gt;
    &lt;/disco-ball&gt;
  &lt;/sparkle-party&gt;
			  </code></pre>
			  </div>
				</section>

				<section>
					<h2 style="margin-bottom:0.5em;">#a11y in single-page apps</h2>
					<ul>
            <li>Manage <a href="http://www.w3.org/TR/wai-aria/" target="_blank" title="ARIA documentation opens in a new window">ARIA</a> attributes</li>
						<li>Enable the keyboard</li>
            <li>Handle focus</li>
						<li>Write meaningful HTML</li>
            <li>Alert the user</li>
					</ul>
					<aside class="notes">
          Handling focus: tabIndex, replacing part of the DOM causes focus mgmt probz

					*Graceful degradation is worth mentioning but it is outside the scope of this talk.
					</aside>
				</section>

        <section>
          <h2>ARIA <br>Core Components</h2>
          <ul>
						<li>Roles</li>
						<li>States</li>
						<li>Properties</li>
          </ul>
        </section>

				<section>
					<h2>Using Roles</h2>
					<ul>
						<li>They're element types</li>
						<li>They're landmarks</li>
		     		<li>Start with native HTML tags</li>
						<li>Read the <a href="http://www.w3.org/TR/wai-aria/" target="_blank" title="Link opens in a new window">documentation</a></li>
						<li>Don't overdo it</li>
					</ul>
					<aside class="notes">
						Simplest abstraction possible
					</aside>
				</section>

				<section>
					<h2>Application Role</h2>
					<p class="big-italic">Disables a screen reader&rsquo;s &ldquo;virtual cursor&rdquo;</p>
					<div class="definition">
						<pre><code class="html">
  &lt;sparkle-party role="application"&gt;&lt;/sparkle-party&gt;
						</code></pre>
					</div>

					<aside class="notes">
					<p><a href="http://www.marcozehe.de/2012/02/06/if-you-use-the-wai-aria-role-application-please-do-so-wisely/" target="_blank" title="Link opens in a new window">Marco Zehe's post about using Application Mode</a></p>
					<p>Virtual Cursor/Browse mode:<br>
					 Several keys are captured by the assistive technology and are not processed by the browser. These allow navigation by headings, lists, links, tables, form elements and others. Usually, these are done via single letters. The visual focus may or may not follow the virtual cursor onto focusable items, depending on the assistive technology in use and its settings</p>
					 <p>Forms mode/focus mode:<br>
					 All keys are passed through to the browser. The challenge is that you may be creating widgets that require you to force the user into direct interaction with the browser. You know that your widget can best be used via the keyboard if the user is not in virtual mode. It is under your control whether the user is being thrown into focus mode once your widget gains keyboard focus.</p>
					</aside>
				</section>

				<section>
					<h2 class="h1-style">Enabling the keyboard</h2>
					<aside class="notes">
					Challenge the concept of "interactive". It doesn't have to be visually interactive. Appeal to all the senses. PERCEIVABLE and OPERABLE. And robust. And understandable.
					</aside>
				</section>

        <section>
					<pre><code class="html">
  &lt;div ng-click="sorryKeyboards()"&gt;&lt;/div&gt;
          </code></pre>

					<pre><code class="html">
  &lt;button ng-click="woohoo()"&gt;&lt;/button&gt;
          </code></pre>

					<pre><code class="html">
  &lt;material-button role="button" 
    tabIndex="0" 
    ng-click="woohoo()"&gt;
  &lt;/material-button&gt;
          </code></pre>
        </section>

				<section>
					<h2>Keyboard Accessibility</h2>
					<h3>One Simple Trick</h3>
					<div class="inset-width">
					<pre><code class="css">
  [tabIndex="0"] {
    color: $linkColor;

    &:focus, &:hover {
      color: $linkActiveColor;
      outline: default;
    }
  }
					</code></pre>
					</div>
				</section>

        <section>
          <h2>Make your framework do the heavy lifting <span class="offscreen">1 of 3</span></h2>
          <pre><code class="html">
  // AngularUI Bootstrap
  &lt;accordion-group
    is-open="status.open"
    is-disabled="status.isDisabled"&gt;
  &lt;/accordion-group&gt;


          </code></pre>
        </section>

        <section data-transition="none">
          <h2>Make your framework do the heavy lifting <span class="offscreen">2 of 3</span></h2>
          <pre><code class="html">
  // AngularUI Bootstrap
  &lt;accordion-group
    aria-expanded="true"
    is-open="status.open"
    aria-disabled="false"
    is-disabled="status.isDisabled"&gt;
  &lt;/accordion-group&gt;
          </code></pre>
          <aside class="notes">
   Angular properties alongside aria properties get verbose.
          </aside>
        </section>

        <section data-transition="none">
          <h2>Make your framework do the heavy lifting <span class="offscreen">3 of 3</span></h2>
          <h3 class="offscreen">Example where ARIA attributes are the default</h3>
          <pre><code class="html">
  // AngularUI Bootstrap
  &lt;accordion-group
    ng-expanded="status.open"
    ng-disabled="status.isDisabled"&gt;
  &lt;/accordion-group&gt;


          </code></pre>
        </section>

				<section>
					<h2 class="h3-style">Angular.js Material Design</h2>
					<a href="https://material.angularjs.org/#/material.components.radioButton/readme/overview" target="_blank" title="Link opens in a new window"><img src="img/Angular-Material-RadioButtons.png" class="plain" alt="Angular Material Radio Buttons" style="max-height: 700px;"></a>
					<aside class="notes">
						Here's how I practice what I preach
					</aside>
				</section>

				<section>
					<h2>Angular Material Radio Buttons</h2>
					<div class="twoThirdsCol skinnyCol">
						<img src="img/radio-buttons.png" alt="Radio Button screenshot: radio-group selected via keyboard">
					</div>
					<div class="twoThirdsCol wideCol">
					<pre><code class="html">
&lt;material-radio-group ng-model="data.group"&gt;
  &lt;material-radio-button value="1"&gt;
    Label 1
  &lt;/material-radio-button&gt;
  &lt;material-radio-button value="2"&gt;
    Label 2
  &lt;/material-radio-button&gt;
&lt;/material-radio-group&gt;
					</code></pre>
					</div>
				</section>

				<section>
					<h2 class="h3-style">Angular Material Radio Buttons (cont'd)</h2>
					<pre><code class="javascript" style="max-height: 640px;">
function materialRadioGroupDirective() {
  element.attr({
    'role': 'radiogroup',
    'tabIndex': '0'
  })
  .on('keydown', keydownListener);

  function keydownListener(ev) {
    if (ev.which === Constant.KEY_CODE.LEFT_ARROW) {
      rgCtrl.selectPrevious(element);
    }
    else if (ev.which === Constant.KEY_CODE.RIGHT_ARROW) {
      rgCtrl.selectNext(element);
    }
  }
}
function materialRadioButtonDirective($expectAria) {
  element.attr('role', 'radio');
  $expectAria(element, 'aria-label', element.text());

  var lastChecked;
  attr.observe('value', render);
  function render() {
    var checked = (rgCtrl.getViewValue() === attr.value);
    if(checked === lastChecked){ return; }
    lastChecked = checked;
    element.attr('aria-checked', checked);
  }
}
					</code></pre>
				</section>

				<section>
					<h2>Something about Angular's shortcomings</h2>
				</section>

				<section>
					<h2>Advocate by doing</h2>
				</section>

       <!--  <section>
          <h2>Slides</h2>
          <p class="big-italic"><a href="http://tiny.cc/mvc-a11y" target="_blank" title="Link opens in a new window">http://tiny.cc/mvc-a11y</a></p>
          <div class="separator inset-width" style="margin-bottom: 1em;"></div> 
          <h2>Resources</h2>
          <ul>
            <li><a href="http://substantial.com/blog/2014/07/22/how-i-audit-a-website-for-accessibility/" target="_blank" title="Link opens in a new window">Auditing a Website for Accessibility</a></li>
            <li><a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en" target="_blank" title="Link opens in a new window">Chrome Accessibility Dev Tools</a></li>
            <li><a href="http://a11yproject.com/" target="_blank" title="Link opens in a new window">A11y Project</a></li>
          </ul>
        </section>-->

        <section>
          <h2 style="margin-top: 0.5em;">Thank you!</h2>
        </section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// The "normal" size of the presentation, aspect ratio will be preserved
		    // when the presentation is scaled to fit different resolutions. Can be
		    // specified using percentage units.
		    width: 1440,
		    height: 900,

		    // Factor of the display size that should remain empty around the content
		    margin: 0.1,

		    // Bounds for smallest/largest possible scale to apply to content
		    minScale: 0.2,
		    maxScale: 1.0,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/accessibility-helpers/accessibility-helpers.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'lib/js/slides.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
