<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular Accessibility</title>

		<meta name="description" content="Angular Accessibility">
		<meta name="author" content="Marcy Sutton">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/material.css">
		<link rel="stylesheet" href="css/theme/marcysutton.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!--<script src="lib/js/jquery-1.11.1.min.js"></script>-->

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : '';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<!--<section data-title="Developments in Angular.js Accessibility">
          <h1 class="offscreen">Developments in Angular.js Accessibility</h1>
					<h2>Hello</h2>
					<img src="img/human-robot-communication.jpg" alt="Human-to-robot communication at last year's CSUN Conference">
				</section>-->

				<section data-title="Author: Marcy Sutton">
          <h1>Developments in Angular.js Accessibility</h1>
					<p>Marcy Sutton, Seattle, WA<br>Developer @Substantial, Angular.js Contributor</p>
					<p><a href="http://marcysutton.github.io/angular-a11y">http://marcysutton.github.io/angular-a11y</a></p>
				</section>

        <section data-title="Inaccessible code samples">
          <figure>
            <a href="https://twitter.com/pauljadam/status/550822616898863106" class="image" target="_blank" title="Link opens in a new window"><img src="img/angular-textbook.png" style="max-height: 740px;" alt="#AngularJS web apps are never accessible because even the books on it start with inaccessible code samples! Paul J. Adam (@pauljadam) January 2, 2015" class="plain"></a>
            <figcaption class="offscreen">#AngularJS web apps are never accessible because even the books on it start with inaccessible code samples! Paul J Adam January 2, 2015</figcaption>
          </figure>
        </section>

        <section data-title="Anti-patterns">
          <h2>Anti-patterns</h2>
          <figure>
            <img src="img/angular-docs-input.png" style="max-height: 580px;">
          <figcaption class="offscreen">Inaccessible input example from Angular.js official docs</figcaption>
          </figure>
        </section>

        <section data-title="Inaccessible sites">
          <h2>Inaccessible Sites</h2>
          <figure>
            <img src="img/virgin-america-2015.png" style="max-height: 580px;">
            <figcaption class="offscreen">VirginAmerica.com</figcaption>
          </figure>
        </section>

        <section data-title="Depressed Snoopy">
          <figure>
            <img src="img/depressed-snoopy.gif" style="min-height: 640px;">
            <figcaption class="offscreen">Snoopy sadly laying on top of his doghouse in the pouring rain</figcaption>
          </figure>
        </section>

        <section data-title="Making it better">
          <h2>Making it better</h2>
          <ul>
            <li>Submit feedback on websites</li>
            <li>Submit issues/<a href="https://github.com/angular/angular.js/pull/11079" target="_blank" title="Link opens in a new window">pull</a> <a href="https://github.com/angular/angular.js/pull/10318" target="_blank" title="Link opens in a new window">requests</a> via Github</li>
            <li>Create accessible examples</li>
            <li>Improve the framework</li>
            <li>Speak at meetups, teach classes</li>
            <li>
          </ul>
        </section>

        <section data-title="Customer Service Feedback">
          <blockquote>
            <div class="blockquote-content">
              <span class="icon" aria-hidden="true"></span>
              <p>Please accept our sincere apologies for the accessibility problems you were having.</p>

              <p>Please be assured that your email has been shared with our Web Team. We will let them know that there are accessibility issues that prevent customers with disabilities from using our site.</p>
            </div>
            <cite>Virgin America Customer Service, <time datetime="2015-02-15">2/17/15</time></cite>
          </blockquote>
        </section>

				<section data-title="Creating accessible examples">
					<h2>Creating Accessible Examples</h2>
					<ul>
            <li>Semantic HTML</li>
						<li>Keyboard focus styles</li>
						<li>Focus management</li>
            <li>Text alternatives</li>
            <li>Notifying the user</li>
					</ul>
				</section>

        <section data-title="Angular.js Material Design">
          <h2 class="h3-style">Angular.js Material Design</h2>
          <a href="https://material.angularjs.org" class="image" target="_blank" title="Link opens in a new window"><img src="img/Angular-Material.png" alt="Angular Material docs website" style="max-height: 600px;"></a>
        </section>

				<section data-title="Semantic HTML">
					<h2>Semantic HTML</h2>
          <pre><code class="html">
    &lt;button class="md-button" ng-click="doStuff()"&gt;
      Material Button
    &lt;/button&gt;
          </code></pre>
          <pre><code class="html">
    &lt;md-button role="button" tabIndex="0"
      ng-keypress="doStuff()" ng-click="doStuff()"&gt;
      Material Button
    &lt;/md-button&gt;
          </code></pre>
				</section>

				<section data-title="No visible focus">
					<h2>No Visible Focus</h2>
          <p>(real life example)</p>
          <figure><pre><code class="css">
  .navlist--main > li > a {
    color: $white;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
          </code></pre>
          <figcaption>Sass</figcaption>
          </figure>
        </section>

        <section data-title="Frustration gif">
          <h2 class="h3-style">You Had One Job</h2>
          <img src="img/keyboard-panda-1.gif" alt="Person in panda costume smashes keyboard on desk" style="min-height: 500px;">
        </section>

        <section data-title="Visible Focus">
          <h2>Visible Focus</h2>
          <figure><pre><code class="css">
  .navlist--main > li > a {
    color: $white;
    display: block;

    &:hover, &:focus {
      color: $somethingElse;
      text-decoration: underline;
    }
  }
          </code></pre>
          <figcaption>Sass</figcaption>
          </figure>
        </section>

        <section data-title="Focus Management Screencast">
          <h2 class="h3-style">Focus Management<span class="offscreen"> screencast</span></h2>
          <iframe width="1120" height="640" src="https://www.youtube.com/embed/3z_ZUUONbc8" frameborder="0" allowfullscreen
          title="Angular Material Focus Management"></iframe>
        </section>

        <section data-title="Focus Management Code Sample">
          <h2 class="h3-style">Focus Management<span class="offscreen"> code sample</span></h2>
          <figure>
            <pre><code class="html">
  &lt;a ng-href="#/page" ng-click="focusSection()"&gt;Page&lt;/a&gt;
            </code></pre>
            <pre><code class="javascript">
  $rootScope.$on('$locationChangeSuccess', openPage);
  function openPage() {
    $scope.closeMenu();
    if (self.autoFocusContent) {
      mainContentArea.focus();
      self.autoFocusContent = false;
      ...
            </code></pre>
            <figcaption><a href="http://material.angularjs.org" target="_blank" title="Link opens in a new window">Angular Material docs website<span class="offscreen"> opens in a new window</span></a></figcaption>
          </figure>
        </section>

        <section data-title="Text alternatives">
          <h2 class="h3-style">Text Alternatives</h2>
          <figure>
            <img src="img/angular-material-radio-icons-log.png" alt="" style="max-height: 660px;">
            <figcaption><a href="https://material.angularjs.org/#/demo/material.components.radioButton" target="_blank" title="Link opens in a new window">Icon mdRadioButtons<span class="offscreen"> opens in a new window</span></a></figcaption>
          </figure>
          <aside class="notes">
            Also: form labels, icon buttons, background images with embedded text, etc.
          </aside>
        </section>

        <section data-title="mdAria Labeling Service">
          <h2 class="h3-style">You <em>will</em> provide a text alternative.</h2>
          <figure>
            <pre><code class="javascript">
  $mdAria.expect(element, 'aria-label');
            </code></pre>
            <pre><code class="javascript">
  function expect(element, attrName, defaultValue) {
    if (!element.hasAttribute(attrName)) {
      if (defaultValue.length) {
        element.attr(attrName, defaultValue);
      } else {
        $log.warn('ARIA: Attribute "', attrName, '", required for accessibility, is missing on element:', element);
      }
            </code></pre>
            <figcaption>$mdAria Service</figcaption>
          </figure>
        </section>

        <section data-title="Notifying the user with mdAutocomplete">
          <h2 class="h3-style">Notifying the User</h2>
          <figure>
            <img src="img/angular-material-autocomplete.png" alt="">
            <figcaption>mdAutocomplete with 4 Matches</figcaption>
          </figure>
        </section>

        <section data-title="mdAutocomplete Code sample">
          <h2 class="h3-style">Notifying the User</h2>
          <figure>
          <pre><code class="html">
  &lt;aria-status role="status"&gt;
    &lt;p ng-repeat="message in messages"&gt;{{message}}&lt;/p&gt;
  &lt;/aria-status&gt;
          </code></pre>
          <pre><code class="javascript">
  switch (matches.length) {
    case 0:  return messages.splice(0);
    case 1:  return messages.push('There is 1 match.');
    default: return messages.push('There are '
        + matches.length +' matches.' );
          </code></pre>
          <figcaption>mdAutocomplete</figcaption>
          </figure>
        </section>

        <section data-title="Improve the framework">
          <h2 class="h1-style">Improve the framework</h2>
          <img src="img/AngularJS-Shield-large.png" class="plain" alt="AngularJS">
        </section>

				<section data-title="ngAria new accessibility module">
					<h2>ngAria</h2>
          <h3>Accessibility Module in Angular 1.3+</h3>
          <img src="img/Bandaid-on-heart.png" alt="Band-Aid on heart" class="plain">
          <p><a href="https://docs.angularjs.org/guide/accessibility" target="_blank" title="Link opens in a new window">https://docs.angularjs.org/guide/accessibility</a></p>
        </section>

        <section data-title="ngAria Directives">
          <h2>ngAria</h2>
          <h3 class="h4-style">Adds support to these directives:</h3>
          <ul>
            <li>ngModel</li>
            <li>ngDisabled</li>
            <li>ngShow</li>
            <li>ngHide</li>
            <li>ngClick</li>
            <li>ngDblClick</li>
            <li>ngMessages</li>
          </ul>
        </section>

        <section data-title="ngAria and ngDisabled">
          <h2 class="h3-style">ngAria &amp; ngDisabled</h2>
          <figure>
            <pre><code class="html">
  &lt;md-checkbox ng-disabled="true" aria-disabled="true"...
            </code></pre>
          </figure>
          <figure>
            <pre><code class="javascript">
  .directive('ngDisabled', ['$aria', function($aria) {
    return $aria.$$watchExpr('ngDisabled', 'aria-disabled');
  }])
            </code></pre>
            <figcaption><a href="https://github.com/angular/angular.js/blob/master/src/ngAria/aria.js#L289" target="_blank" title="Link opens in a new window">ngAria Source<span class="offscreen"> for ngDisabled opens in a new window</span></a></figcaption>
          </figure>
        </section>

        <section data-title="ngAria and ngMessages">
          <h2 class="h3-style">ngAria &amp; ngMessages</h2>
          <figure>
          <pre><code class="html">
  &lt;label&gt;Label &lt;input type="text" minlength="5" /&gt;&lt;/label&gt;
  &lt;div ng-messages="myForm.myField.$error"&gt;
    &lt;div ng-message="minlength, maxlength"&gt;
      Your email must be between 5 and 100 characters long
          </code></pre>
          <pre><code class="javascript">
  .directive('ngMessages', function() {
    return {
      link: function(scope, elem, attr) {
        if (!elem.attr('aria-live')) {
          elem.attr('aria-live', 'assertive');
          </code></pre>
          <figcaption><a href="https://github.com/angular/angular.js/blob/master/src/ngAria/aria.js#L292" target="_blank" title="Link opens in a new window">ngAria Source<span class="offscreen"> for ngMessages opens in a new window</span></a></figcaption>
          </figure>
        </section>

        <section data-title="ngAria and ngClick">
          <h2 class="h3-style">ngAria &amp; ngClick</h2>
          <figure class="full-screen-code">
					<pre><code class="javascript" style="max-height: 680px;">
 .directive('ngClick',['$aria', function($aria) {
  return {
   compile: function(scope, elem, attr) {
    var nodeBlackList = ['BUTTON','A','INPUT','TEXTAREA'];
    if (!elem.attr('role') && !isNodeOneOf(elem, nodeBlackList)) {
      elem.attr('role', 'button');
    }
    if (!isNodeOneOf(elem, nodeBlackList)) {
      elem.on('keypress', function(event) {
        if (event.keyCode === 32 || event.keyCode === 13) {
          scope.$apply(callback);
        ...
					</code></pre>
					<figcaption><a href="https://github.com/angular/angular.js/pull/10318" target="_blank" title="Link opens in a new window">https://github.com/angular/angular.js/pull/10318<span class="offscreen"> Opens in a new window</span></a></figcaption>
          </figure>
				</section>

        <section data-title="Just use buttons">
          <h2 class="h3-style">That's a lot of effort...</h2>
          <h3 class="h1-style">Just use buttons!</h3>
        </section>

        <section data-title="Angular 2.0">
          <h2 class="h1-style">Angular 2.0</h2>
        </section>

        <section data-title="So long, directives">
          <h2>So long, directives</h2>
          <figure>
            <a href="https://www.youtube.com/watch?v=gNmWybAyBHI" target="_blank" class="image" title="Angular 2.0 Core by Igor Minar & Tobias Bosch at ng-europe 2014 on Youtube opens in a new window"><img src="img/angular2-DDO-RIP.png" alt="Directive Definition Object R.I.P. at ngEurope on Youtube" style="max-height: 600px;"></a>
          </figure>
        </section>

        <section data-title="Changes in Angular 2.0">
          <h2>Changes in Angular 2.0</h2>
          <ul>
            <li>No more <a href="https://docs.angularjs.org/api/ng/service/$compile" target="_blank" title="Link opens in a new window">Directive Definition Object<span class="offscreen"> Link opens in a new window</span></a></li>
            <li>No more Controllers</li>
            <li>Works with Web Components</li>
            <li>Bind to properties, not attributes</li>
            <li>No more jqLite DOM wrapper</li>
            <li>ES6 modules</li>
          </ul>
        </section>

        <section data-title="Binding events">
          <h2>Binding events</h2>
          <figure>
          <pre><code class="html">
      &lt;button ng-click="deliverTacos()"
              ng-focus="anticipationEvent()"&gt;
        Give me tacos &lt;/button&gt;
          </code></pre>
          <figcaption>Angular 1.x</figcaption>
          </figure>
          <figure>
          <pre><code class="html">
      &lt;button (click)="deliverTacos()"
              (focus)="anticipationEvent()"&gt;
        Give me tacos &lt;/button&gt;
          </code></pre>
          <figcaption>Angular 2.0</figcaption>
          </figure>
        </section>

        <section data-title="Angular 2 Todo">
          <h2>Angular 2 Todo (~fixed)</h2>
          <figure>
          <pre><code class="html">
  &lt;div class="view"
      [class.hidden]="todoEdit == todo"&gt;
    &lt;input type="checkbox"
           (click)="completeMe(todo)"
           [checked]="todo.completed"
           id="todoInput"&gt;
    &lt;label for="todoInput"&gt;{{todo.title}}&lt;/label&gt;
    &lt;button aria-label="delete" class="destroy"
            (click)="deleteMe(todo)"&gt;&lt;/button&gt;
  &lt;/div&gt;
          </code></pre>
          <figcaption><a href="https://github.com/davideast/ng2do" target="_blank" title="Link opens in a new window">https://github.com/davideast/ng2do<span class="offscreen"> Link opens in a new window</span></a></figcaption>
          </figure>
        </section>

        <section data-title="Angular 2.0 on Github">
          <h2>Angular 2.0 on Github</h2>
          <figure>
            <img src="img/angular2-github.png" style="max-height: 600px">
            <figcaption><a href="https://github.com/angular/angular" target="_blank" title="Link opens in a new window">https://github.com/angular/angular<span class="offscreen"> Link opens in a new window</span></a></figcaption>
          </figure>
        </section>

        <section data-title="Proctractor">
          <h2><a href="https://github.com/angular/protractor" target="_blank" title="Link opens in a new window">Protractor</a></h2>
          <h3>End-to-end testing for AngularJS</h3>
          <ul>
            <li>Node.js command line application</li>
            <li>Runs on WebDriver</li>
            <li>Choose your test framework</li>
            <li>Great for continuous integration</li>
          </ul>
          <!--<p><a href="https://github.com/angular/protractor" target="_blank" title="Link opens in a new window">https://github.com/angular/protractor<span class="offscreen"> Link opens in a new window</span></a></p>-->
        </section>

        <section data-title="Quote from Karl Groves on Tenon.io">
          <blockquote style="margin: 0 auto; width: 60%;">
            <div class="blockquote-content">
              <span class="icon" aria-hidden="true"></span>
              <p>10% of the tests we can run automatically with Tenon.io catch ~67% of the accessibility errors&hellip;</p>
            </div>
            <cite>Karl Groves, #a11ycampbay</cite>
          </blockquote>
        </section>

        <section data-title="Protractor Accessibility Plugin">
          <h2>Protractor A11Y Plugin</h2>
          <h3 class="h4-style">Test your site with:</h3>
          <ul class="smaller">
            <li>Chrome Accessibility Developer Tools</li>
            <li>Tenon.io</li>
          </ul>
          <figure>
            <img src="img/protractor-tenon-crop.png" class="plain" alt="Command Line Accessibility Tests" style="max-height: 360px;">
            <figcaption><a href="https://github.com/angular/protractor" target="_blank" title="Link opens in a new window">https://github.com/angular/protractor<span class="offscreen"> Link opens in a new window</span></a></figcaption>
          </figure>
        </section>

				<section data-title="Testing for Accessibility">
					<h2>Testing for Accessibility!</h2>
          <ul>
            <li>Check for Labels</li>
            <li>Validate Roles</li>
            <li>Watched ARIA Properties</li>
            <li>Interactions</li>
            <li>Color Contrast</li>
          </ul>
				</section>

        <!--<section>
	        <h2 class="h3-style">Unit Testing</h2>
          <div class="full-screen-code">
            <pre><code class="javascript">
 // material/components/radioButton.spec.js
 describe('radioButton', function() {
  beforeEach(module('material.components.radioButton'));

  it('should be operable via arrow keys', inject(function($compile, $rootScope) {
    var element = $compile(
        '&lt;md-radio-group ng-model="color"&gt;' +
          '&lt;md-radio-button value="blue"&gt;&lt;/md-radio-button&gt;' +
          '&lt;md-radio-button value="green"&gt;&lt;/md-radio-button&gt;' +
        '&lt;/md-radio-group&gt;'
        )($rootScope);

    $rootScope.$apply(function(){
      $rootScope.color = 'blue';
    });

    var rbGroupElement = element.eq(0);
    TestUtil.triggerEvent(rbGroupElement, "keydown", {keyCode: Constant.KEY_CODE.RIGHT_ARROW});

    expect($rootScope.color).toEqual('green');
  }));
 });

  ...

  // material/config/test-utils.js
  var TestUtil = {
    triggerEvent: function (element, eventName, eventData) {
      eventData = eventData || {};
      var e = $.extend({}, $.Event(eventName), eventData);
      if(eventData.keyCode){
        e.which = eventData.keyCode;
      }
      element.trigger(e);
    }
  }
            </code></pre>
          </div>
        </section>-->

        <section data-title="Resources">
          <h2>Resources</h2>
          <p><em>All links open in new windows</em></p>
          <ul>
            <li><a href="http://angularjs.blogspot.com/2014/11/using-ngaria.html" target="_blank" title="Link opens in a new window">Using ngAria</a></li>
            <li><a href="https://docs.angularjs.org/guide/accessibility" target="_blank" title="Link opens in a new window">ngAria Developer Guide</a></li>
            <!-- UPDATE PROTRACTOR LINK!! -->
            <li><a href="https://github.com/marcysutton/protractor" target="_blank" title="Link opens in a new window">Protractor Accessibility Plugin</a></li>
            <!--  -->
            <li><a href="https://material.angularjs.org" target="_blank" title="Link opens in a new window">Angular.js Material Design</a></li>
            <li><a href="http://unobfuscated.blogspot.com/2015/02/angularjs-accessibility-knocking-off-my.html" target="_blank" title="Link opens in a new window">Accessible TodoMVC by Dylan Barrell</a></li>
            <li><a href="https://github.com/dequelabs/ngA11y" target="_blank" title="Link opens in a new window">ngA11y by Deque</a></li>
          </ul>
        </section>

        <section data-title="The end">
          <h2>The End.</h2>
        </section>
			</div>

			<footer>
        <p class="copyright">Developments in Angular.js Accessibility<br>
          <a href="http://twitter.com/marcysutton" target="_blank" title="Link opens in a new window">@marcysutton</a> <span aria-hidden="true">/</span> <a href="http://marcysutton.com" target="_blank" title="Link opens in a new window">MarcySutton.com</a></p>
      </footer>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				// The "normal" size of the presentation, aspect ratio will be preserved
		    // when the presentation is scaled to fit different resolutions. Can be
		    // specified using percentage units.
		    width: 1440,
		    height: 900,

		    // Factor of the display size that should remain empty around the content
		    margin: 0.1,

		    // Bounds for smallest/largest possible scale to apply to content
		    minScale: 0.2,
		    maxScale: 1.0,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/accessibility-helpers/accessibility-helpers.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
