$wide_mobile: "screen and (max-width: 64em)";

$purple: #7D4194;
$hover: #aa1ce0;

.status-bar {
	background-color: $purple;
	color: white;
	font-size: 1.5em;
	line-height: 1;
	padding: 1em;
	position: fixed;
	top: 0;
	text-align: center;
	width: 100%;
}
.hiddenY {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}
.offscreen {
	display: block;
	position: absolute;
	left: -50000px; 
}
.clear {
	clear: both;
	display: block;
}
.scroll-ui {
	header {
		background: #7b4397;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiNDM5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2I1MjM4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2RjMjMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left, #7b4397 0%, #b5238a 59%, #dc2430 87%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7b4397), color-stop(59%, #b5238a), color-stop(87%, #dc2430));
    background: -webkit-linear-gradient(left, #7b4397 0%, #b5238a 59%, #dc2430 87%);
    background: -o-linear-gradient(left, #7b4397 0%, #b5238a 59%, #dc2430 87%);
    background: -ms-linear-gradient(left, #7b4397 0%, #b5238a 59%, #dc2430 87%);
    background: linear-gradient(to right, #7b4397 0%,#b5238a 59%,#dc2430 87%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    min-width: 320px;
    position: relative;
    width: 100%;
		height: auto;
		padding: 1em;

		a {
			color: white;

			&:focus, &:hover {
				color: white;
				text-decoration: underline;
			}
		}
		h1 {
			float: left;
			line-height: 1;
			margin: 0;
			max-width: 50%;
		}
	}
	a {
		// border: 2px solid transparent;
		color: $purple;

		&:focus, &:hover {
			color: $hover;
		}
		&:focus {
			// border: 2px solid $purple;
			text-decoration: underline;
			outline: none;
		}
	}
	button {
		background-color: $purple;
		border: 2px solid transparent;
		box-shadow: rgb(240, 240, 240) 0px 0px 0px 3px inset, rgb(237, 221, 245) 2px 3px 0px;
		color: white;
		display: inline-block;
		padding: 1em;
		margin: 1em auto;

		&:hover, &:focus {
			border: 2px solid $purple;
		}
	}
	ul {
		&.utility-nav {
			float: right;
		}
		li {
			display: inline-block;

			button {
				background: none;
				border: 1px solid rgb(153, 153, 153);
				color: currentColor;
				height: 100%;
				width: 100%;
			}
		}
	}
	main {
		clear: both;
	}
	.centered-inputs {
		text-align: center;
		
		div {
			display: inline-block;
		}
		input[type=checkbox],
		input[type=radio   ]{
		  width     : 2em;
		  margin    : 0;
		  padding   : 0;
		  font-size : 2em;
		  opacity   : 0;
		}
		input[type=checkbox] + label,
		input[type=radio   ] + label{
		  display      : inline-block;
		  margin-left  : -2em;
		  line-height  : 1.5em;
		  padding: 0.25em 0.5em;
		}
		input[type=checkbox] + label > span,
		input[type=radio   ] + label > span {
		  display          : inline-block;
		  width            : 1.25em;
		  height           : 1.25em;
		  margin           : 0.25em 0.5em 0.25em 0.25em;
		  border           : 0.0625em solid rgb(192,192,192);
		  border-radius    : 0.5em;
		  background       : rgb(224,224,224);
		  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
		  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
		  vertical-align   : bottom;
		}
		input[type=radio]:focus + label {
			background-color: #f4f3f3;
			box-shadow: 0px 0px 3px #000;
		}
		input[type=radio]:checked + label > span > span {
		  display          : block;
		  width            : 0.9em;
		  height           : 0.9em;
		  margin           : 0.125em;
		  border           : 0.0625em solid rgb(115,153,77);
		  border-radius    : 0.4em;
		  background       : $purple;
		  background-image :    -moz-linear-gradient($purple,darken($purple, .3));
		  background-image :     -ms-linear-gradient($purple,darken($purple, .3));
		  background-image :      -o-linear-gradient($purple,darken($purple, .3));
		  background-image : -webkit-linear-gradient($purple,darken($purple, .3));
		  background-image :         linear-gradient($purple,darken($purple, .3));
		}
	}
	h2 {
		padding: 2em 0;
		text-align: center;
	}
	ul.airport-list {
		clear: both;
		text-align: center;
		
		li {
			height: 88px;
			vertical-align: middle;
			width: 15%;

			@media #{$wide_mobile} {
				margin: 0 auto;
				max-width: 240px;
				width: 100%;
			}

			button {
				margin: 0;
			}
		}
	}
	.people-picker {
		margin: 8em 0;
		max-height: 0;
		overflow: hidden;
		text-align: center;
		padding-top: 2em;
		transition: all 0.5s;

		&.visible {
			max-height: 100%;
		}

		ul {
			text-align: center;
		}
		li {
			height: 220px;
			position: relative;
			width: 23%;

			@media #{$wide_mobile} {
				margin: 0 auto;
				max-width: 320px;
				width: 100%;
			}
		}
		h3 {
			position: absolute;
			padding: 0.5em;
			text-align: left;
		}
		button.pp-number {
			display: block;
			font-size: 7em;
			height: 100%;
			margin: 0;
			position: absolute;
			width: 100%;
		}
		button.pp-control {
			border-color: transparent;
			box-shadow: none;
			font-size: 2em;
			line-height: 1;
			height: auto;
			margin: 0;
			position: absolute;
			right: 0;
			width: 25%;

			&.add {
				bottom: 40%;
				z-index: 1;
			}
			&.subtract {
				top: 50%;
				z-index: 2;
			}
			&:hover, &:focus {
				border: 2px solid $purple;
			}
		}
	}
	footer {
		border-bottom: 10px solid $purple;
		border-top: 2px solid #ccc;
		background-color: #ebebeb;
		margin-top: 10em;
		min-height: 200px;
		position: relative;

		ul {
			bottom: 0;
			min-height: 100%;
			left: 0;
			padding: 2em 0;
			position: absolute;
			right: 0;

			li {
				display: block;
				float: left;
				width: 50%;

				&:nth-child(2n) {
					float: right;
				}

				a {
					color: black;
					display: block;
					font-weight: bold;
					margin: 0 0 1em 1em;
				}
			}
		}
	}
}